<div class="row">
  <div class="col-xs-12">
    <div class="row center-xs middle-xs" style="min-height: 96.2vh">
      <div class="col-xs-12">
        <div class="box">
          <form class="form-horizontal">
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>